.product{
   &__lable{
       .top{
            background-color:rgb(249 115 22);
            background-image:linear-gradient(-120deg, transparent 0%, transparent 50%, rgb(54 83 20) 50%);
            background-size: 220%;
            transition: all 0.3s;
            animation: moving-bg 4s infinite;
       }
       .upcomming{
           background-color:rgb(112 26 117);
       }
       .free{
           background-color:rgb(49 46 129) ;
       }
   } 
}